<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spellingbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".colour2" />
        <activity android:name=".transport2" />
        <activity android:name=".body2" />
        <activity android:name=".domestic2" />
        <activity android:name=".insects2" />
        <activity android:name=".flowers2" />
        <activity android:name=".fruits2" />
        <activity android:name=".wild2" />
        <activity android:name=".birds2" />
        <activity android:name=".shapes2" />
        <activity android:name=".maths2" />
        <activity android:name=".veg2" />
        <activity android:name=".subMainAdapter" />
        <activity android:name=".number2" />
        <activity android:name=".eachAlphabet3" />
        <activity android:name=".family2" />
        <activity android:name=".alphabets2screen" />
        <activity android:name=".secondscreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>